<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- Name of this panda -->
  <xacro:arg name="arm_id" default="panda" />
  <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="hand" default="false" />
  <!-- Is the robot being simulated in gazebo?" -->
  <xacro:arg name="gazebo" default="false" />

  <xacro:unless value="$(arg gazebo)">
    <!-- Create a URDF for a real hardware -->
    <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro" />
    <xacro:panda_arm arm_id="$(arg arm_id)" safety_distance="0.03"/>

    <xacro:if value="$(arg hand)">
      <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
      <xacro:hand arm_id="$(arg arm_id)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id)_link8" safety_distance="0.03"/>
    </xacro:if>
  </xacro:unless>

  <xacro:if value="$(arg gazebo)">

    <xacro:arg name="xyz" default="0 0 0" />
    <xacro:arg name="rpy" default="0 0 0" />

    <!-- Create a simulatable URDF -->
    <xacro:include filename="$(find franka_description)/robots/utils.xacro" />
    <xacro:include filename="$(find franka_description)/robots/panda_gazebo.xacro" />

    <xacro:panda_arm arm_id="$(arg arm_id)" />

    <xacro:if value="$(arg hand)">
      <xacro:hand arm_id="$(arg arm_id)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id)_link8" />
      <xacro:gazebo-joint joint="$(arg arm_id)_finger_joint1" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_finger_joint2" transmission="hardware_interface/EffortJointInterface" />
    </xacro:if>

    <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
    <link name="world" />
    <joint name="world_joint" type="fixed">
      <origin xyz="$(arg xyz)" rpy="$(arg rpy)" />
      <parent link="world" />
      <child  link="$(arg arm_id)_link0" />
    </joint>

    <!-- added by jyp on 0525 -->
    <!-- joint definition -->
    <joint name="camera_joint" type="fixed">
      <axis xyz="0 1 0" />
      <!-- <origin xyz="-1.05 0.5 1.5" rpy="3.1415927 1.5707963 2.2"/> -->
      <origin xyz="-0.5 0.5 1.5" rpy="3.1415927 1.5707963 1.57"/>
      <parent link="world"/>
      <child link="camera_link"/>
    </joint>

    <!-- link definition -->
    <!-- Camera -->
    <link name="camera_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.04 0.04"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.04 0.04"/>
        </geometry>
        <cast_shadows>false</cast_shadows>
      </visual>

      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>

    <!-- ArUco marker -->
    <joint name="aruco_joint" type="fixed">
      <origin xyz="0.06 0.06 0.0" rpy="0.0 0.0 0.785398"/>
      <parent link="$(arg arm_id)_link8"/>
      <child link="aruco_link"/>
    </joint>
    <link name="aruco_link">
      <collision>
        <origin xyz="-0.04 -0.034 0.050" rpy="-1.5707963267949 0 -1.5707963267949"/>
        <geometry>
          <box size="0.04 0.0001 0.04"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="-0.017 -0.0595 0.050" rpy="-1.5707963267949 0 -1.5707963267949"/>
        <geometry>
          <box size="0.04 0.001 0.04"/>
        </geometry>
        <pose>0 0 0 1 0 0</pose>
        <cast_shadows>false</cast_shadows>
      </visual>
    </link>

    <!-- Marker connecter link -->
    <!-- <joint name="$_marker_joint" type="fixed">
        <parent link="world"/>
        <child link="panda_marker_link"/>
        <origin xyz="0.06 0.06 0.0" rpy="0.0 0.0 0.785398"/>
    </joint>
    
    <link name="panda_marker_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.04 0.04"/>
        </geometry>
      </collision>

      <visual name='visual'>
        <origin xyz="-0.04 -0.017 0.053" rpy="-1.5707963267949 0 -1.5707963267949"/>
        <geometry>
          <mesh filename="package://franka_description/meshes/collision/Franka_connecter.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <pose>0 0 0 1 0 0</pose>
      </visual>

      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link> -->

    <!-- ArUco marker -->
    <joint name="marker_joint" type="fixed">
      <parent link="$(arg arm_id)_link8"/>
      <child link="marker_link"/>
      <origin xyz="0.06 0.06 0.0" rpy="0.0 0.0 0.785398"/>
    </joint>
    <link name="marker_link">
      <visual name="visual">
        <origin xyz="-0.04 -0.016 0.053" rpy="-1.5707963267949 0 -1.5707963267949"/>
        <geometry>
          <mesh filename="package://franka_description/meshes/collision/Franka_connecter.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <cast_shadows>false</cast_shadows>
      </visual>
    </link>

    <xacro:gazebo-joint joint="$(arg arm_id)_joint1" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint2" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint3" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint4" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint5" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint6" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint7" transmission="hardware_interface/PositionJointInterface" />

    <xacro:gazebo-joint joint="$(arg arm_id)_joint1" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint2" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint3" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint4" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint5" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint6" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint7" transmission="hardware_interface/VelocityJointInterface" />

    <xacro:gazebo-joint joint="$(arg arm_id)_joint1" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint2" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint3" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint4" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint5" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint6" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="$(arg arm_id)_joint7" transmission="hardware_interface/EffortJointInterface" />

    <xacro:transmission-franka-state arm_id="$(arg arm_id)" />
    <xacro:transmission-franka-model arm_id="$(arg arm_id)"
       root="$(arg arm_id)_joint1"
       tip="$(arg arm_id)_joint8"
     />

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <controlPeriod>0.001</controlPeriod>
        <robotSimType>franka_gazebo/FrankaHWSim</robotSimType>
      </plugin>
      <self_collide>true</self_collide>
    </gazebo>
  </xacro:if>

</robot>
